.contact {
    padding: 0;
    display: block;

    .contact__text {
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        margin: 2rem 0;

        @media screen and (max-width: 601px) {
            font-size: 1.6rem;
        }
    }

    .contact__container {
        margin-inline: auto;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        align-items: center;

        @media screen and (max-width: 601px) {
            width: 100%;
        }

        .contact__item {
            flex: 2;

            .contact__info {
                @media screen and (max-width: 601px) {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;

                }

                .contact__info_box {
                    height: 200px;
                    width: 200px;
                    font-size: 3rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem;
                    border: 0.5px solid var(--nav-bg);
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    margin-bottom: 1rem;
                    background: rgba(0, 0, 0, 0.4);
                    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    cursor: pointer;
                    overflow: hidden;

                    @media screen and (max-width: 601px) {
                        height: 150px;
                        width: 150px;
                        font-size: 2.5rem;
                    }

                    span {
                        transform: translateX(200px);
                        visibility: hidden;
                        margin-top: 5px;
                        font-size: 1rem;
                        font-family: 'Share Tech Mono', monospace;
                        transition: all 0.4s ease-in;

                        @media screen and (max-width: 601px) {
                            text-align: center;
                            transform: translateX(0);
                            visibility: visible;
                        }
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.507) 0px 20px 30px -10px;

                        span {
                            visibility: visible;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }

        form {
            font-family: 'Share Tech Mono', monospace;
            flex: 3;
            display: flex;
            flex-flow: column nowrap;
            border: 1px solid var(--bg);
            padding: 2.2rem 1.5rem;
            border-radius: 1rem;
            backdrop-filter: blur(8px);
            transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            @media screen and (max-width: 601px) {
                margin-inline: 1rem;
            }

            &:focus-within {
                background: var(--focus-form-bg);
            }

            label {
                margin: 1.5rem 0 5px;

                font-size: 1.2rem;
            }

            textarea {
                resize: vertical;
            }


            input[type="text"],
            input[type="email"],
            textarea {
                border: 0;
                outline: none;
                padding: 8px;
                font-size: 1rem;
                background: var(--focus-bg);
                color: var(--text);
                font-family: 'Raleway', sans-serif;

                &:focus {
                    border: 0.5px solid var(--input-border);
                }
            }


            .submitBtn {
                color: var(--text);
                padding: 0.5rem;
                font-size: 1.2rem;
                background: var(--input-border);
                border: none;
                margin-top: 1rem;
                font-family: 'Share Tech Mono', monospace;

                &:hover {
                    filter: grayscale(0.4);
                }
            }


        }
    }
}