.home {
    background-image: url('../../images/8401.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 95% 70%;

    @media screen and (max-width: 601px) {
        background-size: contain;
        background-position: center center;
    }

    // animation: float 1.8s infinite alternate;

    // @keyframes float {
    //     from {
    //         background-position: 95% 65%;
    //     }

    //     to {
    //         background-position: 95% 75%;
    //     }


    .intro__container {
        padding: 3rem 1rem;

        @media screen and (max-width: 601px) {
            flex-flow: row wrap-reverse;
        }


        .intro__hi {
            font-family: 'Bebas Neue', cursive;
            font-size: 4rem;
            margin-bottom: 3rem;

            @media screen and (max-width: 601px) {
                font-size: 3rem;
                margin-bottom: 1.8rem;
            }

            .hi {
                -webkit-animation-duration: 2.1s;
                animation-duration: 2.1s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-name: wave-animation;
                animation-name: wave-animation;
                display: inline-block;
                -webkit-transform-origin: 70% 70%;
                transform-origin: 70% 70%;

                @keyframes wave-animation {
                    0% {
                        transform: rotate(0deg);
                    }

                    10% {
                        transform: rotate(14deg);
                    }

                    /* The following five values can be played with to make the waving more or less extreme */
                    20% {
                        transform: rotate(-8deg);
                    }

                    30% {
                        transform: rotate(14deg);
                    }

                    40% {
                        transform: rotate(-4deg);
                    }

                    50% {
                        transform: rotate(10deg);
                    }

                    60% {
                        transform: rotate(0deg);
                    }

                    /* Reset for the last half to pause */
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }

            .intro__name {
                font-size: 2rem;
                font-family: 'Share Tech Mono', monospace;
            }
        }

        .intro__i_am_a {
            min-height: 30vh;
            font-family: 'Share Tech Mono', monospace;
            font-size: 3rem;

            @media screen and (max-width: 601px) {
                font-size: 2rem;
            }

            span {
                @media screen and (max-width: 601px) {
                    font-size: 1.8rem;
                    font-weight: bold;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #0000008d;
                }

                text-shadow: 0 0 5px rgba(12, 19, 37, 0.4);
                font-size: 2.5rem;
                color: var(--text-yellow);
            }

        }

        .cvBtn {
            margin-top: 5rem;
            font-family: 'Silkscreen', cursive;
        }


    }
}