@use '../../index.css';

header.nav__container {
    height: 100%;
    min-width: 10%;

    // @media (max-width: 800px) {
    // }
    nav.nav {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 50%;
        z-index: 999;
        transition: all 0.5s;
        padding: 1rem;
        background-color: var(--nav-bg);
        backdrop-filter: blur(6px);
        height: 100%;

        // overflow-y: auto;
        a.nav__brand {
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            background-image: linear-gradient(-225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #fff800 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 8s linear infinite;
            display: inline-block;
            // font-family: 'Bebas Neue', cursive;
            // font-family: 'Share Tech Mono', monospace;
            font-family: 'Silkscreen', cursive;

            @keyframes textclip {
                to {
                    background-position: 200% center;
                }
            }
        }

        ul.nav__list {
            transform: translateY(50%);
            transition: all 0.5s;
            list-style: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 2rem;

            li.nav__item {
                font-size: 1.5rem;
                // transition: all 0.3s ease-in-out;
                transform: translateX(30%);

                a {
                    text-decoration: none;
                    color: var(--text-yellow);
                    overflow: hidden;
                    transition: all 0.3s ease;
                    position: relative;
                }

                .hiddenText {
                    position: absolute;
                    top: 50%;
                    transform: translate(30%, -60%);
                    display: none;
                    font-size: 1rem;
                    font-family: 'Share Tech Mono', monospace;
                    width: 0;
                    transform: all 0.5s ease;
                }

                &:hover {

                    a {
                        margin-left: -10px;
                        color: blueviolet;
                        font-size: 90%;

                        .hiddenText {
                            display: inline;
                            width: 100%;
                        }
                    }

                }
            }
        }
    }
}