.project {
    padding: 0;
    display: block;
    // transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .moreBtn {
        display: block;
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;

        animation: float 1s ease-in-out infinite alternate;

        @keyframes float {
            from {
                transform: translateY(3px);
                color: var(--text-pink);
            };

            to {
                transform: translateY(0);
                color: var(--text-yellow);
            }
        }
    }

    .project__box {
        padding: 3rem;
        display: grid;
        // grid-template-columns: repeat(8, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
        // grid-template-rows: repeat(8, 5vw);
        // grid-template-rows: repeat(auto-fit, minmax(250px, 3fr));
        grid-auto-rows: 250px;
        grid-auto-flow: row;
        row-gap: 2rem;
        column-gap: 15px;
        place-items: center;
        place-content: center;
        overflow: hidden;

        .project__content {
            overflow: hidden;
            box-shadow: rgba(0, 15, 32, 0.471) 0px 3px 8px;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            .overlay {
                z-index: 1;
                border-radius: 5px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 35%);
                transition: background 0.5s ease;
            }

            .image__box {
                width: 100%;
                height: 100%;

                img {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);

                }
            }

            .text__box {
                z-index: 2;
                padding: 1rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(0);
                opacity: 0;



                .project__name {
                    font-family: 'Raleway', sans-serif;
                    color: var(--text-yellow);
                    font-size: 1.2rem;
                }

                .project__description {
                    font-family: 'Raleway', sans-serif;
                    color: var(--text);
                    font-size: 0.9rem;
                    padding: 1rem 0;
                    text-align: center;
                }

                .project__url {
                    position: absolute;
                    font-size: 1.3rem;
                    bottom: 5rem;

                }

                .project__link {
                    position: absolute;
                    font-size: 1.3rem;
                    bottom: 5rem;
                    right: 2rem;

                }

                transition: all 0.3s ease-in;
            }


            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                .overlay {
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
                    backdrop-filter: blur(1px);


                }


                .image__box {


                    img {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }

                .text__box {
                    opacity: 1;
                    transform: translateY(20%);
                }
            }
        }

    }
}