.skills {


    .skills__container {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        gap: 2rem;

        @media screen and (max-width: 601px) {
            gap: 1rem;
            justify-content: space-around;
            padding: 1.2rem;
        }

        .skills__item {
            @media screen and (max-width: 601px) {
                padding: 1rem;
            }

            padding: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border: 0.5px solid rgba(7, 12, 23, 0.837);
            transition: box-shadow 0.3s ease-in,
            transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            text-align: center;

            &:hover {
                transform: translateY(-5px);
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }

            .icon_container {}

            .skills__name {
                font-family: 'Raleway', sans-serif;
                font-size: 2rem;

                @media screen and (max-width: 601px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}